<div id="top">
       
</div>
<div id="nav">
        <ul>
                 <li class="upp"><a href="{{path('vantis_admin_homepage')}}">Strona główna</a></li>
            
                 <li class="upp"><a href="{{ path('news')}}">News</a></li>
                 
                 <li class="upp"><a href="{{ path('category')}}">Kategorie</a></li>
                 
                  <li class="upp"><a href="{{ path('logout')}}">Wyloguj</a></li>
        </ul>
</div>