
{% if error %}
{{ error.message }}
{% endif %}

<div class="wrap">
	<div id="content">
		<div id="main">
			<div class="full_w">
                            
                            <form action="{{ path('login_check') }}" method="post">
                                <label for="username">Login</label>
                                <input type="text" class="text" id="username" name="_username" value="" />

                                <label for="password">Hasło:</label>
                                <input class="text" type="password" id="password" name="_password" />

                                <div class="sep"></div>
                                <button class="ok" type="submit">login</button>
                            </form>
			</div>
		</div>
	</div>
</div>

