{% extends 'VantisAdminBundle::layout.html.twig' %}

{% block body %}

    <div class="full_w">
        <div class="h_title">Dodawanie kategorii</div>
        <form action="" method="post" >
            <input type="submit" value="DODAJ">
            
            <div class="element">
                        <label for="zajawka">Status </label>
                        {{ form_widget(form.status)}}
            </div>
            
            <div class="element">
                        <label for="zajawka">Nazwa kategorii </label>
                        {{ form_widget(form.categoryName)}}
            </div>
            
            <div class="element">
                        <label for="zajawka">Tylko administrator</label>
                        {{ form_widget(form.onlyAdmin)}}
            </div>
            
        </form>
    </div>    

                        
{% endblock %}