 <div>
     {% if (cat.onlyAdmin  and is_granted('ROLE_ADMIN')) or cat.onlyAdmin == 0 %}

       {% if cat.id %}
        {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('category_edit', { 'id' : cat.id } ) }}">{% endif %}{{ cat.categoryName }}{% if is_granted('ROLE_ADMIN') %}</a>
         - <a href="{{ path('category_delete', { 'id' : cat.id } ) }}">usuń</a>{% endif %}
       
        {% if getSubCategory(cat.id) %}

        {% for sub in getSubCategory(cat.id) %}
            {% if (sub.onlyAdmin  and is_granted('ROLE_ADMIN')) or sub.onlyAdmin == 0 %}
            <div>
            {% for i in 2..sub.level %}
                -
            {% endfor %}
                >
            {% if is_granted('ROLE_ADMIN') %}<a href="{{ path('category_edit', { 'id' : sub.id } ) }}">{% endif %}{{ sub.categoryName }}{% if is_granted('ROLE_ADMIN') %}</a>
             - <a href="{{ path('category_delete', { 'id' : sub.id } ) }}">usuń</a>{% endif %}
            </div>
            <div>
                {%if getSubCategory(sub.id) %}     

                {% endif %}
            {% endif %}
             </div>
            
        {% endfor %}
       {% endif %}
       {% endif %}
           
       {% endif %}      
        
</div>