{% extends 'VantisAdminBundle::layout.html.twig' %}

{% block body %}
    
    <div class="full_w">
        <div class="h_title">Edycja kategorii</div>
        <form action="" method="post" name="main">
            <input type="submit" value="Zapisz">
            
            <div class="element">
                        <label for="zajawka">Status </label>
                        {{ form_widget(form.status)}}
            </div>
            
            <div class="element">
                        <label for="zajawka">Nazwa kategorii </label>
                        {{ form_widget(form.categoryName)}}
            </div>
            
            <div class="element">
                        <label for="zajawka">Tylko administrator</label>
                        {{ form_widget(form.onlyAdmin)}}
            </div>
            
        </form>
    </div>    
            <br>
            <br>
            <div>
                SubKategorie:
            </div>    
            <div>
                {% for s in subCategories %}
                    <div>
                    <a href="{{ path('category_edit', { 'id' : s.id } ) }}">{{ s.categoryName }}</a>
                    </div>
                {% endfor %}    
            </div>    
            <br>
            <br>
<div>
    Dodaj subkategorię
</div>
<form action="" method="post" name="subCat">
<input type="submit" value="DODAJ Subkategorię">
<input type="hidden" name="subCat" value="1">
<div class="element">
            <label for="zajawka">Status </label>
            {{ form_widget(subCat.status)}}
</div>

<div class="element">
            <label for="zajawka">Nazwa kategorii </label>
            {{ form_widget(subCat.categoryName)}}
</div>

</form>
            
    
{% endblock %}