{% extends 'VantisAdminBundle::layout.html.twig' %}

{% block body %}

<div class="">Kategorie</div>

{% if is_granted('ROLE_ADMIN') %}
<a  href="{{ path('category_add')}}">Dodaj kategorie</a>
{% endif %}
{% for cat in category %}
    <div>
    {% include 'VantisAdminBundle:Category:categoryTree.html.twig' 
                with [{'cat': cat}] %}
    </div>
{% endfor %}    

{% endblock %}








