{% extends 'VantisAdminBundle::layout.html.twig' %}

{% block body %}

    <div class="full_w">
        <div class="h_title">Dodawanie newsa</div>
        <form action="" method="post" {{ form_enctype(form) }}>
            <input type="submit" value="DODAJ">
                <div class="element">
                        <label for="aktywny">Aktywny</label>
                        {{ form_widget(form.aktywny)}}
                </div>
         
            
                <div class="element">
                        <label for="data publikacji">Data publikacji</label>
                        {{ form_widget(form.dataPublikacji, { attr :{ 'class' : 'text err' } } )}}
                </div>
                
                 <div class="element">
                        <label for="tytuł">Tytuł </label>
                        {{ form_widget(form.tytul, { attr :{ 'class' : 'text err' } } )}}
                </div>
                
                 <div>
                 <label for="categories">Kategorie:</label>
                    <select name="categories[]" multiple>
                      {% for cat in categories %}
                          <option value="{{cat.id}}">{% for c in 0..cat.level %}-{% endfor %}{{cat.categoryName}}</option>
                      {% endfor %} 
                  </select>
                </div>
                  
                <div>
                    <label for="tag">Tag:</label>
                    <input type='button' value='Dodaj Tag' id='addTag'>
                    
                    <div id='TextBoxesGroup'>
                            <div id="TextBoxDiv1">
                            </div>
                    </div>
                    
                </div>      
                
                 <div class="element">
                        <label for="zajawka">Zajawka </label>
                        {{ form_widget(form.zajawka)}}
                </div>
                
                 <div class="element">
                        <label for="tresc">Tresc </label>
                        {{ form_widget(form.tresc)|raw}}
                </div>
                
                
        </form>
    </div>    
{% endblock %}