{% extends 'VantisAdminBundle::layout.html.twig' %}

{% block body %}


</script>
    <div class="full_w">
        <div class="h_title">Edycja newsa</div>
        <form action="" method="post" {{ form_enctype(form) }}>
            <input type="submit" value="Zapisz">
                <div class="element">
                        <label for="login">Aktywny</label>
                        {{ form_widget(form.aktywny)}}
                </div> 
                
                <div class="element">
                        <label for="login">Data publikacji</label>
                         <input type="text" class="text err" name="Data" id="eko_adminbundle_news_dataPublikacji" value="{{dataPublikacji|date('Y-m-d H:i:s')}}">
                </div>
                
                 <div class="element">
                        <label for="login">Tytuł </label>
                        {{ form_widget(form.tytul, { attr :{ 'class' : 'text err' } } )|raw }} 
                </div>
                
                <div>
                    <label for="categories">Kategorie:</label>
                    <select name="categories[]" multiple>
                                  {% for cat in categories %}
                                      <option value="{{cat.id}}" 
                                      {% for c in c2n %}
                                          {% if cat.id == c.idCat %}
                                              selected
                                           {% endif %}   
                                      {% endfor %}    
                                      >{% for c in 0..cat.level %}-{% endfor %}{{cat.categoryName}}</option>
                                  {% endfor %} 
                    </select>
                </div>
                
                <div>
                    <label for="tag">Tag:</label>
                    <input type='button' value='Dodaj Tag' id='addTag'>
                    
                    <div id='TextBoxesGroup'>
                            <div id="TextBoxDiv1">
                                  {% for tag in tags %}
                                      <div>
                                      <textarea id="tag{{tag.id}}" name="tag[{{tag.id}}]">{{ tag.tag }}</textarea>
                                      <button value="{{tag.id}}" class="removeButton" id="removeTag{{tag.id}}" >Usuń tag</button>
                                      </div>
                                  {% endfor %} 
                            </div>
                    </div>
                    
                </div>    
                
                 <div class="element">
                        <label for="login">Zajawka </label>
                        {{ form_widget(form.zajawka)}}
                </div>
                
                 <div class="element">
                        <label for="login">Tresc </label>
                        {{ form_widget(form.tresc)}}
                </div>
                
                
        </form>
    </div>    

{% endblock %}