{% extends 'VantisAdminBundle::layout.html.twig' %}

{% block body %}

<div class="">Newsy</div>
	
<a  href="{{ path('news_add')}}">Dodaj news</a>

<form method="get" action="">
    {{ form_rest(form) }}
    <input type="submit" name="submit-filter" value="filter" />
</form>

<div id="paginator">
  {{ paginator|raw}}
</div>
  
{% if news is not empty %}
<table>
        <thead>
                <tr>
                        <th scope="col">Lp</th>
                        <th scope="col">Tytuł</th>
                        <th scope="col">Tagi</th>
                        <th scope="col">Kategorie</th>
                        <th scope="col">Data utw.</th> 
                        <th scope="col" style="width: 65px;">Akcja</th>
                </tr>
        </thead>
        
{% for n in news %}
     <tbody>
                <tr>
                        <td class="align-center">{{loop.index}}</td>
                        <td>{{ n.tytul}}</td>
                        <td>
                            {% for t in tags %}
                                {% if t.idNews == n.id %}
                                    {{t.tag}},
                                {% endif %}
                            {% endfor %}    
                            
                        </td>
                        <td>
                           {% for cat in getCategoriesByIdNews(n.id) %}
                               {{ cat }},
                           {% endfor %}    
                        </td>    
                        <td>{{ n.data|date('Y-m-d')}}</td>
                        <td>
                                <a href=" {{ path('news_edit', { 'id' : n.id } ) }}"  title="Edit">Edit</a>
                                <a href="{{ path('news_delete' ,{ 'id' : n.id } ) }}"  title="Delete">Delete</a> 
                        </td>
                </tr>
        </tbody>
{% endfor %}
</table>
{%else%}    
    Brak zawartości.
{% endif %}
      
{% endblock %}