<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Vantis{% endblock %}</title>
        {{ tinymce_init() }}
        
    </head>
    <body>
       <div class="wrap">
           <div id="header">
            {% block header %}
                {% include 'VantisAdminBundle:Default:navi/index.html.twig' %}
            {% endblock %}
           </div>    
           <div id="content">
               
               <div id="main">    
           {% block body %}{% endblock %}    
               </div>        
           </div>        
       </div>    
        {% block javascripts %}
        <script type="text/javascript" src="{{asset('js/jquery-1.11.0.min.js')}}"></script>
        <script type="text/javascript" src="{{asset('js/vantis.js')}}"></script>
        {% endblock %}
    </body>
</html>
